<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block scripts_head %}
        <!-- jquery.min.js -->
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/jquery-1.8.2.min.js') }}"></script>
    {% endblock %}

    {% block stylesheets %}
        <!-- bootstrap.css -->
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/bootstrap.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/bootstrap-extended.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/datepicker.css') }}" type="text/css" media="all" />
        <!-- bootstrap-responsive.css -->
        <link rel="stylesheet" href="{{ asset('bundles/admingeneratorgenerator/css/bootstrap-responsive.css') }}" type="text/css" media="all" />

        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
    {% endblock %}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% block icons %}
      <!-- Favicon and touch icons -->
      <link rel="shortcut icon" href="{{ asset('/ico/favicon.ico') }}">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('/ico/apple-touch-icon-144-precomposed.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('/ico/apple-touch-icon-114-precomposed.png') }}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('/ico/apple-touch-icon-72-precomposed.png') }}">
      <link rel="apple-touch-icon-precomposed" href="{{ asset('/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% block logo %}
            <a class="brand" href="{{ path('AdmingeneratorDashboard_welcome') }}">Admin</a>
          {% endblock %}
          <div class="nav-collapse collapse">
            {% block profile %}
              <ul class="nav pull-right">
                <li><p class="navbar-text" style="padding-right: 10px;">{{ 'profile.welcome'|trans({'%username%': app.user ? app.user : 'anonymous'}, 'Admingenerator')|raw }}</li>
                {% if app.user %}
                  <li><button onclick="document.location='{{ path('fos_user_security_logout') }}'" class="btn " title="{{ 'profile.logout'|trans({}, 'Admingenerator') }}"><i class="icon-off"></i> {{ 'profile.logout'|trans({}, 'Admingenerator') }}</button></li>
                {% else %}
                  <li><button onclick="document.location='{{ path('fos_user_security_login') }}'" class="btn " title="{{ 'profile.login'|trans({}, 'Admingenerator') }}">{{ 'profile.login'|trans({}, 'Admingenerator') }}</button></li>
                {% endif %}
              </ul>
            {% endblock %}
            {% block menu %}
              {{ knp_menu_render('admin') }}
            {% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
        {% block flashes %}
            <div class="row-fluid">
                {% if app.session.hasFlash('success') %}
                  <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ app.session.flash('success')|raw }}
                  </div>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                  <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ app.session.flash('error')|raw }}
                  </div>
                {% endif %}
            </div><!--/row-->
        {% endblock %}

        {% block body %}
            <div class="row-fluid">
            </div><!--/row-->
        {% endblock %}

      <hr>

      <footer>
        <p>
          {% block footer %}
            &copy; Company 2012
          {% endblock %}
        </p>
      </footer>

    </div> <!-- /container -->

    {% block javascripts %}
        <!-- bootstrap.js -->
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-transition.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-alert.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-modal.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-dropdown.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-scrollspy.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-tab.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-tooltip.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-popover.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-button.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-collapse.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-carousel.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-typeahead-extended.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-affix.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/bootstrap-datepicker.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/locales/bootstrap-datepicker.en.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/locales/bootstrap-datepicker.' ~ app.request.locale ~ '.js') }}"></script>
        <!-- jquery-ui.js -->
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/jquery.ui.widget.js') }}"></script>
        <!-- blueimp.jquery-file-upload.js  -->
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/blueimp.javascript-templates.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/blueimp.javascript-load-image.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/blueimp.canvas-to-blob.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/jquery.iframe-transport.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/jquery.fileupload.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/jquery.fileupload-fp.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/blueimp/jquery.fileupload-ui.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/main.js') }}"></script>
    {% endblock %}

  </body>
</html>
