<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block scripts_head %}        
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/jquery.min.js'
            'bundles/admingeneratorgenerator/js/jquery-1.8.3.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/admingeneratorgenerator/js/html5shiv/html5.js') }}"></script>
        <![endif]-->
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/admingenerator/bootstrap.min.css'
            'bundles/admingeneratorgenerator/css/bootstrap/bootstrap.css'
            'bundles/admingeneratorgenerator/css/bootstrap/bootstrap-extended.css'
            'bundles/admingeneratorgenerator/css/bootstrap/bootstrap-datepicker.css'
            'bundles/admingeneratorgenerator/css/google/prettify.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
            
        {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/admingenerator/bootstrap-responsive.min.css'
            'bundles/admingeneratorgenerator/css/bootstrap/bootstrap-responsive.css'
            'bundles/admingeneratorgenerator/css/bootstrap/bootstrap-responsive-extended.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
            
        {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/admingenerator/admingenerator-login.min.css'
            'bundles/admingeneratorgenerator/css/admingenerator/general.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
    {% endblock %}

    {% block icons %}
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/admingeneratorgenerator/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          {% block logo %}
              {% set brand_path = (admingenerator_config('dashboard_welcome_path') is not null) ? path(admingenerator_config('dashboard_welcome_path')) : '#' %}
              <a class="brand" href="{{ brand_path }}">{% block brand_text %}{{ 'dashboard.brand'|trans({}, 'Admingenerator') }}{% endblock %}</a>
          {% endblock %}
          <div class="nav-collapse collapse">
            {% block profile %}
              <ul class="nav pull-right">
                <li><p class="navbar-text" style="padding-right: 10px;">{{ 'profile.welcome'|trans({'%username%': app.user ? app.user : 'anonymous'}, 'Admingenerator')|raw }}</li>
                {% if app.user %}
                  <li><button onclick="document.location='{{ path('fos_user_security_logout') }}'" class="btn " title="{{ 'profile.logout'|trans({}, 'Admingenerator') }}"><i class="icon-off"></i> {{ 'profile.logout'|trans({}, 'Admingenerator') }}</button></li>
                {% else %}
                  <li><button onclick="document.location='{{ path('fos_user_security_login') }}'" class="btn " title="{{ 'profile.login'|trans({}, 'Admingenerator') }}">{{ 'profile.login'|trans({}, 'Admingenerator') }}</button></li>
                {% endif %}
              </ul>
            {% endblock %}
            {% block menu %}
              {{ knp_menu_render('admin') }}
            {% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block body %}
        <div class="row-fluid">
          <form class="form-horizontal">
            <legend>Login form</legend>
            
            <div class="control-group">
              <label class="control-label" for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" placeholder="Username">
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" placeholder="Password">
              </div>
            </div>
            
            <div class="form-actions">
              <label class="control-label"><input type="checkbox"> Remember me</label>
              <div class="controls">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
            </div>
          </form>
        </div><!--/.row-fluid -->
      {% endblock %}
        
      {% block footer %}
      <footer>
        <hr>
        <p>{% block footer_text %}&copy; Symfony2Admingenerator {{ ("now"|date('Y') > 2012) ? '2012 - ' ~ "now"|date('Y') : '2012' }}{% endblock %}</p>
      </footer>
      {% endblock %}
    </div> <!--/.container-fluid -->
    
    {% block javascripts %}
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/bootstrap.min.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-transition.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-alert.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-modal.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-dropdown.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-scrollspy.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-tab.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-tooltip.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-popover.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-button.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-collapse.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-carousel.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-typeahead-extended.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-affix.js'
            'bundles/admingeneratorgenerator/js/bootstrap/bootstrap-datepicker.js'
            'bundles/admingeneratorgenerator/js/bootstrap/locales/bootstrap-datepicker.*.js'
            'bundles/admingeneratorgenerator/js/google/prettify.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/jquery.spin.min.js'
            'bundles/admingeneratorgenerator/js/spin/jquery.spin.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

  </body>
