<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Admin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block scripts_head %}
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/jquery-1.10.1.min.js'
            'bundles/admingeneratorgenerator/jquery/jquery-1.10.1.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/jquery-ui-1.10.3.min.js'
            'bundles/admingeneratorgenerator/jquery-ui/js/jquery-ui-1.10.3.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <!-- HTML5 shiv, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/html5shiv.min.js'
            'bundles/admingeneratorgenerator/html5shiv/html5shiv.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
        <!--[if lte IE 7]>
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/elusive-iconfont.min.js'
            'bundles/admingeneratorgenerator/elusive-iconfont/js/lte-ie7.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <![endif]-->
    {% endblock %}

    {% block stylesheets %}
        {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/admingenerator/bootstrap-2.3.2.min.css'
            'bundles/admingeneratorgenerator/bootstrap/css/bootstrap-2.3.2.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}

        {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/admingenerator/elusive-iconfont.min.css'
            'bundles/admingeneratorgenerator/css/elusive-iconfont/elusive-webfont.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}

        {% stylesheets filter='cssrewrite,?yui_css' output='assetic/css/compiled/admingenerator/admingenerator.min.css'
            'bundles/admingeneratorgenerator/css/admingenerator/general.css'
            'bundles/admingeneratorgenerator/css/admingenerator/profile.css'
            'bundles/admingeneratorgenerator/css/admingenerator/nested-list.css'
            'bundles/admingeneratorgenerator/css/admingenerator/filetypeicons.css'
            'bundles/admingeneratorgenerator/css/admingenerator/form/datepicker.css'
            'bundles/admingeneratorgenerator/css/admingenerator/form/single-upload.css'
            'bundles/admingeneratorgenerator/css/admingenerator/bootstrap-extended.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
        {% endstylesheets %}
    {% endblock %}

    {% block icons %}
        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="{{ asset('bundles/admingeneratorgenerator/ico/favicon.ico') }}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-114-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-72-precomposed.png') }}">
        <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-57-precomposed.png') }}">
    {% endblock %}
  </head>

  <body>

    {% block navbar %}
      {% include 'AdmingeneratorGeneratorBundle::base_admin_navbar.html.twig' %}
    {% endblock navbar %}

    <div class="container-fluid">
      {% block flashes %}
        <div id="flashes" class="row-fluid">
          {% for type, flashMessages in app.session.flashbag.all() %}
            {% for flashMessage in flashMessages %}
              <div class="alert alert-{{ type }}">
                <button type="button" class="close" data-dismiss="alert">×</button>
                {{ flashMessage|raw }}
              </div>
            {% endfor %}
          {% endfor %}
        </div><!--/.row-fluid -->
      {% endblock %}

      {% block body %}
        <div class="row-fluid">
        </div><!--/.row-fluid -->
      {% endblock %}

      {% block footer %}
      <footer>
        <hr>
        <p>{% block footer_text %}&copy; Symfony2Admingenerator {{ ("now"|date('Y') > 2012) ? '2012 - ' ~ "now"|date('Y') : '2012' }}{% endblock %}</p>
      </footer>
      {% endblock %}
    </div> <!--/.container-fluid -->

    {% block javascripts %}
        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/bootstrap-2.3.2.min.js'
            'bundles/admingeneratorgenerator/bootstrap/js/bootstrap-2.3.2.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% javascripts filter='?yui_js' output='assetic/js/compiled/admingenerator/spin.min.js'
            'bundles/admingeneratorgenerator/spin/spin.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

  </body>
</html>
