<a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_unselected','{{ form.get("id") }}_selected'); return false;">
    <img src="{{ asset('bundles/admingeneratorgenerator/images/next.png') }}" alt="unassociate" />
</a>
<br />
<a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_selected','{{ form.get("id") }}_unselected'); return false;">
    <img src="{{ asset('bundles/admingeneratorgenerator/images/previous.png') }}" alt="associate" />
</a>