{% block form_actions %}
    {{ echo_block("form_actions") }}
    {% if builder.Actions|length > 0 %}
        {% for action in builder.Actions %}
          {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials', builder.ModelClass) ) }}
          {% endif %}

          {% set actionRoute  = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ (builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "") ~ '_' ~ action.name) %}
          {% set actionParams = action.params ? echo_twig_assoc(action.params) : '{}' %}
          {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}
          {# @TODO: manage conditional function #}

          <a class="btn {{ action.class|default('') }}" href="{{ echo_path(actionRoute, actionParams) }}"
              {%- if action.confirm %}data-confirm="{{ echo_trans(action.confirm, {}, translationDomain) }}" {% endif -%}
              {%- if action.csrfProtected %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%}>
              {%- if action.icon %}<i class="{{ action.icon }}"></i> {% endif -%}
              {{ echo_trans(action.label, {}, translationDomain) -}}
          </a>

          {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
              {{ echo_endif () }}
          {% endif %}

        {% endfor -%}
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}


{% block show_actions_script %}
    {{ echo_block("show_actions_script") }}
    {% if builder.Actions is defined and builder.Actions|length > 0 %}
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/object-actions.js")') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#show-actions").agen$objectActions({
            	actionsSelector: 'a.btn'
            });
        });
    </script>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}
