{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/tabs.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/show.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/actions.php.twig' %}
{% use '../CommonAdmin/ShowTemplate/sidebar.php.twig' %}
{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}

    {{- block('batch_actions_script') -}}

    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/general.js")') }}"></script>

{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="row-fluid">
        {% if sidebar is defined and sidebar|length > 0 %}
            <div class="span8">
        {% endif %}
                {{- block('show_tabs') }}
                {{- block('show') -}}
        {% if sidebar is defined and sidebar|length > 0 %}
            </div>
            <div class="span4">
                {{- block('show_sidebar') -}}
            </div>
        {% endif %}
    </div>
{{ echo_endblock() }}
