{% use '../CommonAdmin/ListTemplate/Column/boolean.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/date.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/datetime.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/decimal.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/collection.php.twig' %}
{% use '../CommonAdmin/generic_actions.php.twig' %}

{% block show %}
{{ echo_block('show') }}
    {{ echo_block('object') }}
        {% for fieldset in builder.fieldsets|keys %}
            <fieldset class="form_block form_fieldset_{{ fieldset|classify|replace({'.': '_'}) }} tab-pane">
                {% if "NONE" != fieldset[:4] %}
                <legend><span>{{ echo_trans(fieldset,{}, i18n_catalog is defined ? i18n_catalog : "Admin" ) }}</span></legend>
                {% endif %}

            {% for rows in builder.fieldsets[fieldset] %}
            <div class="row-fluid">
                {% for field in rows %}
                    {% set column = builder.Columns[field] %}
                    {% if column.credentials %}
                          {{ echo_if_granted(column.credentials, builder.ModelClass) }}
                    {% endif %}

                    <div class="span2 text-right">
                    {{ echo_block('show_column_label_' ~ column.name) -}}
                        <strong>{{ echo_twig("'" ~ column.label|addslashes ~ "'|trans({}, '" ~ i18n_catalog|default("Admin") ~ "')") }}</strong>
                    {{- echo_endblock() }}
                    </div>

                    <div class="span10">
                        <div class="control-group form_field field_{{ field }}">
                        {{ echo_block('show_column_' ~ column.name) -}}
                            {%- if column.customListView != null and builder.variable('customBlocks') != null -%}
                                {{- echo_use(builder.variable('customBlocks')) -}}
                                {{- echo_set('field_value', builder.ModelClass ~ '.' ~ column.getter) -}}
                                {{- echo_print_block('column_' ~ column.customListView|lower) -}}
                            {%- elseif column.dbType|lower == "boolean" -%}
                                {{- block('column_boolean') -}}
                            {%- elseif column.dbType|lower == "date" -%}
                                {{- block('column_date') -}}
                            {%- elseif (column.dbType|lower == "datetime") or (column.dbType|lower == "timestamp") or (column.dbType|lower == "vardatetime") or (column.dbType|lower == "datetimetz") -%}
                                {{- block('column_datetime') -}}
                            {%- elseif column.dbType|lower == "decimal" -%}
                                {{- block('column_decimal') -}}
                            {%- elseif (column.dbType|lower == "array") or (column.dbType|lower == "collection")  -%}
                                {{- block('column_collection') -}}
                            {%- else -%}
                                {{- echo_twig(builder.ModelClass ~ '.' ~ column.getter) -}}
                            {%- endif -%}
                        {{- echo_endblock() }}
                        </div>
                    </div>
                    {% if column.credentials %}
                        {{ echo_endif () }}
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </fieldset>
    {% endfor %}
    {{ echo_endblock() }}

    {{ echo_block('form_buttons') }}
        <div id="show-actions" class="form-actions">
            <div class="btn-toolbar">
                {{ block("generic_actions") }}
            </div>
        </div>
    {{ echo_endblock() }}
{{ echo_endblock() }}
{% endblock %}
