{% block type_collection %}

    <div class="type_collection" id="type_collection_{{ field }}">
        {{- echo_twig("form_widget(form['" ~ field ~ "'])") -}}

        {% if builder.Columns[field].formOptions['allow_add'] %}
        <ul class="actions">
            <li>
                <a class="new">{{ echo_trans('form.type_collection.add') }}</a>
            </li>
        </ul>
        {% endif %}
    </div>

    {% if builder.Columns[field].formOptions['allow_add'] or builder.Columns[field].formOptions['allow_delete'] %}
    <script type="text/javascript">
    $(document).ready(function() {

        {% if builder.Columns[field].formOptions['allow_add'] %}
        type_collection_{{ field }}_nextId = $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }} > div').length;

        $('#type_collection_{{ field }} .new').click(function() {
           var prototype = $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }}').attr('data-prototype');
           prototype = prototype.replace(/\$\$name\$\$/g, type_collection_{{ field }}_nextId);
           type_collection_{{ field }}_nextId++;
           $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }}').append(prototype);

           {% if builder.Columns[field].formOptions['allow_delete'] %}
           $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }} > div:last').append("<a class=\"delete\"> </a>");

           $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }} .delete').click(function() { //@todo make a function for this
               $(this).parent('div').remove();
            });
           {% endif %}
        });
        {% endif %}

        {% if builder.Columns[field].formOptions['allow_delete'] %}
            $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }} > div').append("<a class=\"delete\"> </a>");

            $('#{{ builder.YamlKey }}_{{ builder.ModelClass|lower }}_{{ field }} .delete').click(function() {
               $(this).parent('div').remove();
            });
        {% endif %}
    });
    </script>
    {% endif %}

{% endblock %}
