{% block form_actions %}
{{ echo_block("form_actions") }}
    {% if builder.Actions|length > 0 %}
     <ul class="form_actions actions">
        {% for action in builder.Actions %}
          {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials', builder.ModelClass) ) }}
          {% endif %}

         <li>
          {% if action.params %}

            <a class="{{ action.name }}" href="{{ echo_path((action.route ? action.route : builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name), echo_twig_assoc(action.params)) }}"

          {% else %}

            <a class="{{ action.name }}" href="{{ echo_path((action.route ? action.route : builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_' ~ action.name)) }}"

          {% endif %}

         {%- if action.confirm %}onclick='return confirm("{{ action.confirm }}")'{% endif %}>{{ echo_trans(action.label) }}</a></li>

          {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
              {{ echo_endif () }}
          {% endif %}

        {% endfor -%}
     </ul>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}

