{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/EditTemplate/tabs.php.twig' %}
{% use '../CommonAdmin/EditTemplate/form.php.twig' %}
{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="row-fluid">
        {{- block('form_tabs') }}
        {{- block('form') -}}
    </div>

{{ echo_endblock() }}
