{% use '../CommonAdmin/EditTemplate/Type/collection.php.twig' %}
{% block form_fieldset %}
{{ echo_block("form_fieldset_" ~ fieldset|classify) }}
        <fieldset class="form_block form_fieldset_{{ fieldset|classify }}">
        {% if "NONE" != fieldset %}
        <legend>{{ echo_trans(fieldset, i18n_catalog is defined ? i18n_catalog : "Admin" ) }}</legend>
        {% endif -%}
        {% for rows in builder.fieldsets[fieldset] %}
    <div class="form_row">
                {% for field in rows %}
                {% if builder.Columns[field].credentials %}
                      {{ echo_if_granted(builder.Columns[field].credentials) }}
                {% endif %}
                <div class="form_field">
                    {{ echo_block("form_" ~ field) }}
                        {{ echo_twig("form_label(form['" ~ field ~ "'], '" ~ builder.Columns[field].label|addslashes ~ "')") }}

                        {% if builder.Columns[field].formType == "collection" -%}
                            {{- block('type_collection') -}}
                        {%- else -%}
                            {{- echo_twig("form_widget(form['" ~ field ~ "'])") -}}
                        {%- endif -%}
                        {%- if builder.columns[field].help %}

                        <span class="help">
                            {{ builder.columns[field].help }}
                        </span>
                        {% endif -%}

                        {{ echo_twig("form_errors(form['" ~ field ~ "'])") }}
                    {{ echo_endblock() }}
                </div>
                {% if builder.Columns[field].credentials %}
                    {{ echo_endif () }}
                {% endif %}
                {% endfor -%}
            </div>
        {% endfor -%}
    </fieldset>
        {{ echo_endblock() }}
{% endblock %}
