{% use "../CommonAdmin/EditTemplate/actions.php.twig" %}
{% block form %}
{{ echo_block('form') }}
<form 
{{ echo_if(builder.ModelClass ~ ".id") }}
    action="{{ echo_path(bundle_name ~ "_update", "{ 'id': " ~ builder.ModelClass ~ ".id }" ) }}"
{{ echo_else() }}
    action="{{ echo_path(bundle_name ~ "_create" ) }}"
{{ echo_endif() }}
 method="post" {{ echo_twig("form_enctype(form)") }}>
    <fieldset class="form_block">
        {{ echo_twig("form_errors(form)") }}
        <ul>
        {% for field in display %}
            <li>
                {{ echo_block("form_" ~ field) }}
                    {{ echo_twig("form_label(form['" ~ field ~ "'])") }}
                    {{ echo_twig("form_widget(form['" ~ field ~ "'])") }}
                    {{ echo_twig("form_errors(form['" ~ field ~ "'])") }}
                {{ echo_endblock() }}
            </li>
        {% endfor %}
            <li>
                 {{ echo_twig("form_rest(form)") }}
                 <input type="submit" class="submit_button" value="Save" />
            </li>
        </ul>
    </fieldset>
    
    {{ block("form_actions") }}
            
</form>
{{ echo_endblock() }}
{% endblock %}