{% import "AdmingeneratorGeneratorBundle:Form/SingleUpload:macros.html.twig"  as macros %}

{% set file = form.vars.data %}
{% set entity = form.parent.vars.value %}
{% set property = form.vars.name %}

<div class="{{ id ~ '_preview_image' }} download active">    
{% if file|default is not empty %}
    {% if previewImages and downloadType == 'image' %}
        <img class="img-polaroid" 
             src="{{ vich_uploader_asset(entity, property)|apply_filter('gallery_item_view') }}"
             style="{{- 'max-width:'  ~ maxWidth   ~'px;' -}}
                    {{- 'max-height:' ~ maxHeight  ~'px;' -}}
                    {{- 'min-width:'  ~ minWidth   ~'px;' -}}
                    {{- 'min-height:' ~ minHeight  ~'px;' -}}" />
    {% else %}
        <div class="fileicon {{ downloadType }}">{{ ('filetype.'~downloadType)|trans({}, 'Admingenerator')|raw }}</div>
    {% endif %}
    {% if nameable|default is not empty %}
        <div class="row-fluid">{{ attribute(entity, nameable) }}</div>
    {% else %}
        <div class="row-fluid">{{ file.filename }}</div>
    {% endif %}
    <div class="row-fluid">{{ macros.bytesToSize(file.size) }}</div>
{% endif %}
</div>