{% spaceless %}
    <div class="collection">
        {% set attr = attr|merge({'class': 'control-group' }) %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': block('collection_item_widget') }) %}
        {% endif %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_errors(form) }}
            {% for rows in form %}
                {% set form = rows %}
                {{ block('collection_item_widget') }}
            {% endfor %}
            {{ form_rest(form) }}
        </div>
        
        {% if allow_add %}
        <div class="btn-toolbar">
            <a class="btn btn-primary new"><i class="icon-plus icon-white"></i> {{ 'actions.collection.add'|trans({}, 'Admingenerator') }}</a>
        </div>
        {% endif %}
    </div>
{% endspaceless %}