{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/NestedListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/NestedListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/NestedListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/NestedListTemplate/modal.php.twig' %}
{% use '../CommonAdmin/ListTemplate/actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/batch_actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/filters.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}


    {{- block('batch_actions_script') -}}
    {{- block('object_actions_script') -}}
    <script type="text/javascript">
        {% set admingeneratorNestedRoute=builder.routePrefixWithSubfolder ~ "_" ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_nested_move" %}
        var admingeneratorNestedUrl = '{{ echo_path( admingeneratorNestedRoute, "{ 'dragged': '|dragged|', 'action': '|action|', 'dropped': '|dropped|' }") }}';
        var nestedsetStringExpand = '{{ echo_trans('nested.list.expand') }}';
        var nestedsetStringCollapse = '{{ echo_trans('nested.list.collapse') }}';
    </script>

    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/treeTable/jquery.treeTable-extended.js")') }}"></script>
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/nestedset.js")') }}"></script>
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/general.js")') }}"></script>
{{ echo_endblock() }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="row-fluid">
        <div class="{% if builder.filterColumns|length == 0 %} span12 {% else %} span9 {% endif %}">

            {{ block('list_scopes') -}}

            {{- block('list_nbresults') }}

            {{- block('form_batch_actions') }}
            <table id="tree-table" class="table table-striped table-hover table-condensed">
                {{ block('list_thead') -}}
                {{- block('list_tbody') }}
            </table>

            <div id="list_toolbar" class="form-actions">
              <div class="btn-toolbar pull-left">
                {{ block('list_batch_actions') }}
              </div>
            </div>

            <div id="generic_actions" class="form-actions">
                <div class="btn-toolbar">
                    {{ block('list_actions') }}
                </div>
            </div>
            {{- block('endform_batch_actions') -}}
        </div>
        {{ echo_block("filters") }}
            {% if builder.filterColumns|length > 0 %}
            <div class="span3">
                {{- block('list_filters') -}}
            </div>
            {% endif %}
        {{ echo_endblock() }}
    </div>
    {{- block('nestedset_modal') -}}
{{ echo_endblock() }}
