{% use '../CommonAdmin/ListTemplate/row.php.twig' %}
{% use '../CommonAdmin/ListTemplate/object_actions.php.twig' %}

{% block list_tbody %}
{{ echo_block("list_tbody") }}
    <tbody>
        {{ echo_if (builder.ModelClass ~ "s|length > 0") }}

        {{ echo_for(builder.ModelClass, builder.ModelClass ~ "s" ) }}
        <tr id="node-{{ echo_twig(builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model)) }}"
        class="list_trow {{ echo_twig(builder.ModelClass ~ ".parent() ? 'child-of-node-' ~ " ~ builder.ModelClass ~ ".parent()." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ ": ''"  ) }}">
            {{- block('list_row') -}}

            {{- block('list_object_actions') }}
        </tr>
        {{ echo_endfor() }}

        {{ echo_else() }}
        <tr class="list_trow no_results_row">
            <td colspan="{{ (object_actions|length > 0) ? (display|length + 1) : display|length }}">{{ echo_trans('list.no_results') }}</td>
        </tr>
        {{ echo_endif () }}
    </tbody>
{{ echo_endblock() }}
{% endblock %}
