{% block batch_actions %}
{{ echo_block("batch_actions") }}
<div class="btn-group">
    <div class="btn select-caret">
        <select id="batchActionSelector" name="action">
            <option selected="selected" value="none">{{ echo_trans('batch.list.selected') }}</option>
            {% for action in builder.BatchActions %}
                {{ echo_block('batch_action_' ~ action.twigName) }}
                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_if_granted(action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials')) }}
                {% endif %}

                    {% if action.conditionalFunction %}
                        {{ echo_if((action.conditionalInverse ? 'not ' : '') ~ builder.ModelClass ~ "." ~ action.conditionalFunction ~ '(' ~ action.conditionalParameters|join(',') ~')') }}
                    {% endif %}

                    {{ block('batch_action_block') }}

                    {% if action.conditionalFunction %}
                        {{ echo_endif() }}
                    {% endif %}

                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_endif() }}
                {% endif %}
                {{ echo_endblock() }}
            {% endfor %}
        </select>
    </div>
    <button type="submit" name="batch" class="btn">{{ echo_trans('batch.list.send') }}</button>
</div>
{{ echo_endblock() }}
{% endblock %}

{% block batch_action_block %}
    {% set translationDomain = action.type is sameas('custom') ? i18n_catalog|default("Admin") : 'Admingenerator' %}
    <option value="{{ action.name }}" {%- if action.confirm %} data-confirm='{{ echo_trans(action.confirm, {}, translationDomain) }}' {% endif -%}>
        {% if action.icon %}<i class="{{ action.icon }}"></i> {% endif %}{{ echo_trans(action.label, {}, translationDomain) }}
    </option>
{% endblock %}

{% block form_batch_actions %}
{{ echo_block("form_batch_actions") }}
{% if batch_actions is defined and batch_actions|length > 0 %}
    {% set actionPathName = builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_batch' %}
    <form id="form-list-{{ builder.ModelClass }}" method="post" action="{{ echo_path(actionPathName) }}">
        <input type="hidden" value="{{ echo_twig_filter(actionPathName, 'csrf_token', true) }}" name="_csrf_token" />
{% endif %}
{{ echo_endblock() }}
{% endblock %}
    
{% block endform_batch_actions %}
{{ echo_block("endform_batch_actions") }}
{% if batch_actions is defined and batch_actions|length > 0 %}
    </form>
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/batch-actions.js")') }}"></script>
    <script type="text/javascript">
        ;(function(window, $, undefined) {
            $("#form-list-{{ builder.ModelClass }}").agen$batchActions({
                submitSelector: 'button[name=batch]',
                actionsSelector: '#batchActionSelector',
                noneSelected: '{{ echo_trans("batch.list.none.selected") }}'
            });
        })(this, jQuery);
    </script>
{% endif %}
{{ echo_endblock() }}
{% endblock %}
