{% block title %}
    {{ echo_block("page_title") }}
        <head>
            <h1>{{ title }}</h1>
        </head>
    {{ echo_endblock() }}
{% endblock %}

{% block site_title %}
    {{ echo_block("title") }}
        {{ echo_twig('parent()') }} - {{ title }}
    {{ echo_endblock() }}
{% endblock %}