{% block list_actions %}
{{ echo_block("list_actions") }}
    {% if builder.Actions|length > 0 %}
     <ul class="actions">
        {% for action in builder.Actions %}
            <li><a class="{{ action.name }}" href="{{ echo_path((action.route ? action.route : namespace_prefix ~ '_' ~ bundle_name ~ '_' ~ action.name)) }}"
            {%- if action.confirm %}onclick='return confirm("{{ action.confirm }}")'{% endif %}>{{ echo_trans(action.label) }}</a></li>
        {% endfor %}
     </ul>
    {% endif %}
{{ echo_endblock() }}
{% endblock %}
