{% block list_batch_actions %}
    {{ echo_block("list_batch_actions") }}
        {% if batch_actions is defined and batch_actions|length > 0 %}
        <div id="batch_controls">
            <span>{{ echo_trans('batch.list.selected') }}: </span>
            <select name="action" id="batch_actions">
                {% for action in builder.BatchActions %}
                    {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                        {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials')) }}
                    {% endif %}

                    <option
                     value="{{ action.name }}"
                     {% if action.confirm %}data-confirm='{{ echo_trans(action.confirm, {}, i18n_catalog is defined ? i18n_catalog : "Admin") }}'{% endif %}>{{ echo_trans(action.label,{}, i18n_catalog is defined ? i18n_catalog : "Admin") }}</option>

                    {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                        {{ echo_endif () }}
                    {% endif %}
                {% endfor %}
            </select>
            <input type="submit" value="{{ echo_trans('batch.list.execute') }}" onclick="
if ($('input.batch_select_id:checked').length == 0) { alert('{{ echo_trans("batch.none_selected") }}'); return false; }
if ($('#batch_actions option:selected').data('confirm')) { return confirm($('#batch_actions option:selected').data('confirm')); } else { return true; }" />
        </div>
        {% endif -%}
    {{ echo_endblock() }}
{% endblock %}

{% block form_batch_actions %}
    {{ echo_block("form_batch_actions") }}
    {% if batch_actions is defined and batch_actions|length > 0 %}
        <form method="post" action="{{ echo_path(( builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_batch')) }}">
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}

{% block endform_batch_actions %}
    {{ echo_block("endform_batch_actions") }}
    {% if batch_actions is defined and batch_actions|length > 0 %}
        </form>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}
