{% block list_batch_actions %}
    {{ echo_block("list_batch_actions") }}
        {% if batch_actions is defined and batch_actions|length > 0 %}
        <div class="btn-group">
            <button class="btn">{{ echo_trans('batch.list.selected') }}</button>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span>
            </a>
            <ul id="batch_actions_list" class="dropdown-menu">
                {% for action in builder.BatchActions %}
                    {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                        {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials')) }}
                    {% endif %}
                    <li>
                        {% set actionIntention = ('"' ~ builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ '_' ~ builder.BaseGeneratorName ~ '_' ~ action.name ~ '"') %}
                        <a class="{{ action.class|default('') }}" data-action='{{ action.name }}' 
                          {%- if action.confirm %} data-confirm='{{ echo_trans(action.confirm) }}' {% endif -%}
                          {%- if action.csrfProtected %} data-csrf-token="{{ echo_twig_filter(actionIntention, ['csrf_token']) }}" {% endif -%} href="#">
                          {% if action.icon %}<i class="{{ action.icon }}"></i> {% endif %}{{ echo_trans(action.label) }}
                        </a>
                    </li>
                    {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                        {{ echo_endif () }}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endif -%}
    {{ echo_endblock() }}
{% endblock %}

{% block batch_actions_script %}
    {{ echo_block("batch_actions_script") }}
    {% if batch_actions is defined and batch_actions|length > 0 %}
    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/batch-actions.js")') }}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#list_table").agen$batchActions({
                path: '{{ echo_path(( builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_batch')) }}',
                noneSelected: '{{ echo_trans("batch.list.none.selected") }}'
            });
        });
    </script>
    {% endif %}
    {{ echo_endblock() }}
{% endblock %}