{% block list_filters %}
{{ echo_block('list_filters') }}
{% if builder.filterColumns|length > 0 %}
    <div class="row-fluid">
        <form action="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ "_filters" ) }}" method="post" {{ echo_twig("form_enctype(form)") }} role="form">
            {{ echo_twig("form_widget(form)") }}
        </form>
    </div>
{% endif %}
{{ echo_endblock() }}
{% endblock list_filters %}
