{% block list_filters %}
{{ echo_block('list_filters') }}
<form action="{{ echo_path(namespace_prefix ~ '_' ~ bundle_name ~ "_filters" ) }}" method="post" {{ echo_twig("form_enctype(form)") }}>
    <fieldset class="form_block form_fieldset_NONE">
        {{ echo_twig("form_errors(form)") }}
        {% for field in builder.filters.display %}
         <div class="form_row">
             <div class="form_field">
                {{ echo_twig("form_label(form['" ~ field ~ "'], '" ~ builder.FilterColumns[field].label ~ "' )") }}
                {{ echo_twig("form_widget(form['" ~ field ~ "'])") }}
                {{ echo_twig("form_errors(form['" ~ field ~ "'])") }}
            </div>
        </div>
        {% endfor %}
        <ul class="actions">
            <li>
                 {{ echo_twig("form_rest(form)") }}
                 <input type="submit" class="submit_button" value="Filter" />
                 <input type="submit" class="reset_button" name="reset" value="Reset" />
            </li>
        </ul>
    </fieldset>
</form>
{{ echo_endblock() }}
{% endblock %}