{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/paginator.php.twig' %}
{% use '../CommonAdmin/ListTemplate/actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/filters.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="main_content{% if builder.filterColumns|length == 0 %} full_size{% endif %}">

        {{ block('list_scopes') -}}

        {{- block('list_nbresults') }}

        <table>
            {{ block('list_thead') -}}
            {{- block('list_tbody') }}
        </table>

        {{ block('list_paginator') -}}

        {{- block('list_actions') }}
    </div>
    {{ echo_block("filters") }}
        {% if builder.filterColumns|length > 0 %}
        <div class="filters">
            <table>
                <thead>
                    <tr>
                        <th>{{ echo_trans('list.filters') }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            {{- block('list_filters') -}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}
    {{ echo_endblock() }}
{{ echo_endblock() }}
