{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/paginator.php.twig' %}
{% use '../CommonAdmin/ListTemplate/actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/batch_actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/filters.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
{{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
{{- block('complementary_javascripts') -}}
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
{{- block('title') -}}
<div class="row-fluid">
<div class="span9">

    {{ block('list_scopes') -}}

    {{- block('list_nbresults') -}}

    {{- block('form_batch_actions') }}
    <table class="table table-bordered">
        {{ block('list_thead') -}}
        {{- block('list_tbody') }}
    </table>

    {{- block('list_paginator') -}}

    {{- block('list_batch_actions') -}}
    {{- block('list_actions') -}}

    {{- block('endform_batch_actions') }}
</div>
{{ echo_block("filters") }}
{% if builder.filterColumns|length > 0 %}
<div class="span3">
    <div class="row-fluid"><h2>{{ echo_trans('list.filters') }}</h2></div>

    {{- block('list_filters') -}}
</div>
<div>{# end row-fluid responsive #}
{% endif %}
{{ echo_endblock() }}
{{ echo_endblock() }}


