{% use '../CommonAdmin/title.php.twig' %}
{% use '../CommonAdmin/stylesheets.php.twig' %}
{% use '../CommonAdmin/javascripts.php.twig' %}
{% use '../CommonAdmin/ListTemplate/nbresults.php.twig' %}
{% use '../CommonAdmin/ListTemplate/thead.php.twig' %}
{% use '../CommonAdmin/ListTemplate/tbody.php.twig' %}
{% use '../CommonAdmin/ListTemplate/paginator.php.twig' %}
{% use '../CommonAdmin/ListTemplate/actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/batch_actions.php.twig' %}
{% use '../CommonAdmin/ListTemplate/filters.php.twig' %}
{% use '../CommonAdmin/ListTemplate/scopes.php.twig' %}

{{ echo_extends( builder.getBaseAdminTemplate ) }}

{{ echo_block("stylesheets") }}
    {{- block('complementary_stylesheets') -}}
{{ echo_endblock() }}

{{ echo_block("javascripts") }}
    {{- block('complementary_javascripts') -}}

    <script src="{{ echo_twig('asset("bundles/admingeneratorgenerator/js/admingenerator/general.js")') }}"></script>
{{ echo_endblock() }}

{{- block('site_title') -}}

{{ echo_block("body") }}
    {{- block('title') -}}

    <div class="row-fluid">
        <div class="{% if builder.filterColumns|length == 0 %} span12 {% else %} span9 {% endif %}">

            {{ block('list_scopes') -}}

            {{- block('list_nbresults') -}}

            {{- block('form_batch_actions') }}
            <table class="table table-striped table-hover table-condensed">
                {{ block('list_thead') -}}
                {{- block('list_tbody') }}
            </table>

            <div class="form-actions">
                <div class="btn-toolbar pull-left">
                  {{- block('list_batch_actions') }}
                  {{ block('list_actions') -}}
                </div>
                {{- block('list_paginator') -}}
            </div>

            {{- block('endform_batch_actions') }}
        </div>
        {{ echo_block("filters") }}
            {% if builder.filterColumns|length > 0 %}
            <div class="span3">
                {{- block('list_filters') -}}
            </div>
            {% endif %}
        {{ echo_endblock() }}
    </div>
{{ echo_endblock() }}
