{% block list_nbresults %}
{{ echo_block("list_nbresults") }}
<div class="list_nbresults">
    {{ echo_set("count",  builder.ModelClass ~ "s.nbResults", false ) }}
    {{ echo_set("start",  "( " ~ builder.ModelClass ~ "s.currentPage - 1 ) * " ~ builder.ModelClass ~ "s.maxPerPage + 1", false ) }}
    {{ echo_set("end",  "start + " ~ builder.ModelClass ~ "s.maxPerPage - 1", false ) }}
    {{ echo_set("end", "end > count ? count : end", false) }}

    {{ echo_if ( builder.ModelClass ~ "s.haveToPaginate") }}
    {{ echo_trans("list.display.range|{ start, end, count }|") }}
    {{ echo_elseif (" count > 0 ") }}
    {{ echo_trans("list.display.all|{ count }|") }}
    {{ echo_endif () }}
</div>
{{ echo_endblock() }}
{% endblock %}
