{% block list_object_actions %}
    {{ echo_block("list_object_actions") }}
        {% if object_actions|length > 0 %}
        <td class="actions">
            <div class="btn-group">
            {% for action in builder.ObjectActions %}
                {% if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_if_granted( action.credentials ? action.credentials : builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials'), builder.ModelClass ) }}
                {% endif -%}
                    {% if action.conditionalFunction %}
                        {{ echo_if ((action.conditionalInverse == 'true' ? 'not ' : '') ~ builder.ModelClass ~ "." ~ action.conditionalFunction) }}
                    {% endif %}

                    {% set actionRoute  = action.route ? action.route : (builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ (builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "") ~ '_' ~ action.name) %}
                    {% set actionParams = action.route ? null : ("{ 'pk': " ~ builder.ModelClass ~ "." ~ builder.getFieldGuesser().getModelPrimaryKeyName(model) ~ " }") %}
                
                    <button class="{{ action.class|default('btn btn-mini') }}" data-action="{{ echo_path(actionRoute, actionParams) }}" 
                      {%- if action.confirm %} data-confirm="{{ echo_trans(action.confirm) }}" {% endif -%} 
                      {%- if action.csrfProtected %} data-csrf-token="{{ echo_path(actionRoute, actionParams, ['csrf_token']) }}" {% endif -%} 
                      rel="tooltip" data-original-title="{{ echo_trans(action.label) }}">
                        <i class="{{ action.icon|default('icon-asterisk') }}"></i>
                    </button>

                    {% if action.conditionalFunction %}
                        {{ echo_endif () }}
                    {% endif %}
                {%- if action.credentials or builder.generator.getFromYaml('builders.' ~ action.name ~ '.params.credentials') %}
                    {{ echo_endif () }}
                {% endif %}
            {% endfor %}
            </div>
        </td>
        {% endif -%}
    {{ echo_endblock() }}
{% endblock %}
