{% block list_paginator_perpage %}
{{ echo_block("list_paginator_perpage") }}
    {{ echo_if( builder.ModelClass ~ "s.haveToPaginate or "~ builder.ModelClass ~ "s.maxPerPage is not sameas(10)") }}
    <div class="btn-group input-group">
        <div class="btn btn-sm btn-reset">{{ echo_trans('pagerfanta.view.perpage') }}</div>
		{#
		<button type="button" class="btn btn-sm btn-default">{{ echo_trans('pagerfanta.view.perpage') }}</button>
		#}
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
            {{ echo_twig('"pagerfanta.num.elements"|trans({"%number%": '~ builder.ModelClass ~ 's.maxPerPage}, "Admingenerator")') }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" role="menu">
            {{ echo_for('perPage', '[10, 25, 50, 75, 100]') }}
            <li>
                <a href="{{ echo_path(builder.routePrefixWithSubfolder ~ '_' ~ bundle_name ~ ( builder.BaseGeneratorName ? "_" ~ builder.BaseGeneratorName : "" ) ~ '_list', '{perPage: perPage}') }}">
                    {{ echo_twig('"pagerfanta.num.elements"|trans({"%number%": perPage}, "Admingenerator")') }}
                </a>
            </li>
            {{ echo_endfor() }}
        </ul>
    </div>
    {{ echo_endif() }}
{{ echo_endblock() }}
{% endblock %}

{% block list_paginator_pages %}
    {{ echo_block('list_paginator_pages') }}
		{{ echo_twig("pagerfanta(" ~ builder.ModelClass ~ "s, 'admingenerator')") }}
    {{ echo_endblock() }}
{% endblock %}
