{% block list_paginator_header %}
{{ echo_block("list_paginator_header") }}
    <div class="pagination pagination-right">
        {{ echo_twig("pagerfanta(" ~ builder.ModelClass ~ "s, 'admingenerator')") }}
    </div>
    {{ echo_endblock() }}
{% endblock %}

{% block list_paginator_footer %}
{{ echo_block("list_paginator_footer") }}
    <div class="pagination pagination-right">
        {{ echo_twig("pagerfanta(" ~ builder.ModelClass ~ "s, 'admingenerator')") }}
    </div>
    {{ echo_endblock() }}
{% endblock %}