{% use '../CommonAdmin/ListTemplate/Column/boolean.php.twig' %}
{% use '../CommonAdmin/ListTemplate/Column/date.php.twig' %}
{% block list_row %}
{{ echo_block("list_row") }}
    {% for column in builder.columns %}
            <td>
                    {{ echo_block('list_td_column_' ~ column.name) -}}
                    {%- if column.dbType == "boolean" -%}
                        {{- block('column_boolean') -}}
                    {%- elseif column.dbType == "date" -%}
                        {{- block('column_date') -}}
                    {%- else -%}
                        {{- echo_twig(builder.ModelClass ~ '.' ~ column.getter) -}}
                    {%- endif -%}
                    {{- echo_endblock() }}
                </td>
    {% endfor %}
{{ echo_endblock() }}
{% endblock %}
