{% if primaryKey is defined %}
    {% set identifier = 'item.primaryKey' %}
{% else %}
    {% set identifier = 'item' %}
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        $('#{{ id ~ '_typeahead' }}').typeahead({
            source: function() {
                var data = this.$element.data('source');
                
                {% if form.parent.vars.prototype is defined %}
                    return $(data).filter(function(index, item) {
                        var values = [];
                        var hiddens = $('#{{ form.parent.vars.id }}').find('input[type="hidden"]');

                        hiddens.not('#{{ id }}').each(function(i,e){
                            values.push($(e).val());
                        });

                        return ($.inArray({{ identifier }}, values) > -1) ? false : true;
                    });
                {% else %}
                    return data;
                {% endif %}
            },
            matcher: function (item) {
                return ~{{ matcher|raw }}.toLowerCase().indexOf(this.query.toLowerCase());
            },
            sorter: function (items) {
                var beginswith = []
                  , caseSensitive = []
                  , caseInsensitive = []
                  , item

                while (item = items.shift()) {
                  if (!{{ matcher|raw }}.toLowerCase().indexOf(this.query.toLowerCase())) beginswith.push(item)
                  else if (~{{ matcher|raw }}.indexOf(this.query)) caseSensitive.push(item)
                  else caseInsensitive.push(item)
                }

                return beginswith.concat(caseSensitive, caseInsensitive)
            },
            highlighter: function (item) {           
                var query = this.query.replace(/[\-\[\]{}()*+?.,\\\^$|#\s]/g, '\\$&')
                var heading = {{ matcher|raw }}.replace(new RegExp('(' + query + ')', 'ig'), function ($1, match) {
                    return '<strong>' + match + '</strong>'
                });

                var builder = $('<div></div>').addClass('clearfix');

                {% if thumb.src %}                    
                var thumb = $('<div></div>').addClass('pull-left')
                    .append($('<img>').addClass('img-polaroid img-rounded')
                    .attr('src', ({{ thumb.src|raw }}))
                    .attr('width', '{{ thumb.width|default('32') }}px')
                    .attr('height', '{{ thumb.height|default('32') }}px')
                );
                builder.append(thumb);
                {% endif %}

                var text = $('<div></div>').addClass('pull-left').append(
                  $('<blockquote></blockquote>')                 
                      .append($('<p></p>').html(heading))
                      {% for line in description %}
                      .append($('<div></div>')
                          .append($('<{{ line.type|default('small') }}/>')
                          .addClass('{{ line.class|default('') }}')
                          .html({{ line.content|raw }}))
                      )
                      {% endfor %}
                );                    
                builder.append(text);

                return builder;
            },
            updater: function (item) {
                $('#{{ id }}').val({{ identifier }});
                return {{ matcher|raw }};
            },
            getter: function(pk) {
                var source = $.isFunction(this.source) ? this.source() : this.source;
                return $.grep(source, function(item){
                    return {{ identifier }} == pk;
                })[0];
            },
            setter: function(item) {
                return {{ identifier }};
            }
        });
        
        {% if value is defined and value|length > 0 %}
            var data = $('#{{ id ~ '_typeahead' }}').data('source');
            var item = $.grep(data, function(item){
                    return {{ identifier }} == {{ value }};
                })[0];
            $('#{{ id ~ '_typeahead' }}').val({{ matcher }});
        {% endif %}
    });
</script>