{% block double_list_widget %}
<script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/javascripts/double_list.js') }}"></script>
<div class="double_list">
    <div style="float: left">
        <div class="double_list_label">{% trans from "Admingenerator" %}double_list.unselected{% endtrans %}</div>
        <select name="{{ form.getParent().get('id') }}[{{ form.get("name") }}][unselected]" multiple="true" id="{{ form.get("id") }}_unselected" class="double_list_select-unselected">
        {% for choice in choices %}
            {% if choice is not selectedchoice(value) %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endif %}
        {% endfor %}
        </select>
    </div>
    <div style="float: left; margin-top: 2em">
         <a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_unselected','{{ form.get("id") }}_selected'); return false;">
            <img src="{{ asset('bundles/admingeneratorgenerator/images/next.png') }}" alt="unassociate" />
         </a>
         <br />
         <a href="#" onclick="sfDoubleList.move('{{ form.get("id") }}_selected','{{ form.get("id") }}_unselected'); return false;">
            <img src="{{ asset('bundles/admingeneratorgenerator/images/previous.png') }}" alt="associate" />
         </a>
    </div>
    <div style="float: left">
         <div class="double_list_label">{% trans from "Admingenerator" %}double_list.selected{% endtrans %}</div>
         <select name="{{ form.getParent().get('id') }}[{{ form.get("name") }}][]" multiple="true" id="{{ form.get("id") }}_selected" {% if (form.vars.required) %}required="required" {% endif %}class="double_list_select-selected">
         {% for choice in choices %}
            {% if choice is selectedchoice(value) %}
                <option value="{{ choice.value }}">{{ choice.label }}</option>
            {% endif %}
         {% endfor %}
         </select>
    </div>
    <br style="clear: both" />
    <script type="text/javascript">
        sfDoubleList.init(document.getElementById('{{ form.get("id") }}_selected'), 'double_list_select');
    </script>
</div>
{% endblock %}
{% block doctrine_double_list_widget %}
    {{- block('double_list_widget') -}}
{% endblock %}
{% block doctrine_odm_double_list_widget %}
    {{- block('double_list_widget') -}}
{% endblock %}
{% block propel_double_list_widget %}
    {{- block('double_list_widget') -}}
{% endblock %}

{% block date_range_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            <div class="input-prepend input-append">                
                <span class="add-on span2">{{ child.label|trans({}, 'Admingenerator') }}</span>
                {{ form_widget(child) }}
            </div>
            <script type="text/javascript">
                $(document).ready(function() {
                    $('#{{ child.vars.id }}').datepicker({
                      format: 'yyyy-mm-dd',
                      language: '{{ app.request.locale }}',
                      weekStart: 1,
                    });
                });
            </script>
        {% endfor %}
    </div>    
{% endblock %}

{% block date_widget %}
    <div class="input-append">
        {{ form_widget(form) }}
        <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#{{ form.vars.id }}').datepicker({
              format: 'yyyy-mm-dd',
              language: '{{ app.request.locale }}',
              weekStart: 1,
            });
        });
    </script>
{% endblock %}
    
{% block form_widget_compound %}
{% spaceless %}
    <div class="control-group" {{ block('widget_container_attributes') }}>
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    </div>
{% endspaceless %}
{% endblock form_widget_compound %}
    
{% block form_row %}
{% spaceless %}
    <div class="control">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock form_row %}