{% trans_default_domain "Admingenerator" %}

{% block admingenerator_filter_root_widget %}
{% spaceless %}
<div id="{{ id }}" class="panel panel-info" role="filters">
    <div class="panel-heading collapsed" data-toggle="collapse" data-target="#{{ id ~ '_panel' }}" role="filters-toggle">
        <h3 class="panel-title">
            <i class="fa fa-caret-down fa-fw"></i>
            <i class="fa fa-caret-right fa-fw"></i>
            {{ 'filters.header'|trans }}
        </h3>
    </div>
    <div id="{{ id ~ '_panel' }}" class="collapse" role="filters-panel">
        <div class="panel-body">
            <div class="bs-callout bs-callout-info">
                <h3 class="fa fa-info-circle pull-left"></h3>
                {{ 'filters.info'|trans }}
            </div>
            <div class="panel-group" role="filters-root-list" data-index="{{ form|length }}">
                {% for child in form %}
                    {{ form_widget(child) }}
                {% endfor %}
            </div>
        </div>
        <div id="{{ id ~ '_footer' }}" class="panel-footer">
            <div class="btn-toolbar">
                <button class="btn btn-sm btn-primary" type="submit" role="filters-ctrl-submit">
                    <i class="fa fa-search"></i> {{ 'filters.ctrl.submit'|trans }}
                </button>
                <button class="btn btn-sm btn-warning" type="button" role="filters-ctrl-reset">
                    <i class="fa fa-refresh"></i> {{ 'filters.ctrl.reset'|trans }}
                </button>
                <button class="btn btn-sm btn-success" type="button" role="filters-ctrl-add-group">
                    <i class="fa fa-plus"></i> {{ 'filters.ctrl.add_group'|trans }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock admingenerator_filter_root_widget %}

{% block admingenerator_filter_group_widget %}
{% spaceless %}
<div id="{{ id }}" name="{{ full_name }}" class="panel panel-default" role="filters-group">
    <div class="panel-heading">
        <h4 class="panel-title collapsed" data-toggle="collapse" data-target="#{{ id ~ '_group_panel' }}" role="filters-group-toggle">
            {{- 'filters.label'|trans -}}
            <button type="button" class="close" data-dismiss="filters-group" role="filters-group-dismiss">
                <span aria-hidden="true">&times;</span><span class="sr-only">{{ 'filters.ctrl.remove'|trans }}</span>
            </button>
        </h4>
    </div>
    <div id="#{{ id ~ '_group_panel' }}" class="panel-collapse collapse" role="filters-group-panel">
        <table class="table">
            <tbody role="filters-group-list" data-index="{{ form|length }}">
            {% for item in form %}
                {{ form_widget(item) }}
            {% endfor %}  
            </tbody>
        </table>
        <div id="{{ id ~ '_group_footer' }}" class="panel-footer">
            <div class="btn-toolbar">
                <div class="pull-right btn-group">
                    <button type="button" class="btn btn-sm btn-success dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-plus"></i> {{ 'filters.ctrl.add_filter'|trans }} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for field,label in fields %}
                        <li data-field="{{ field }}" role="filter-prototype">
                            <a href="#">{{ label|trans({}, translation_domain) }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endspaceless %}
{% endblock admingenerator_filter_group_widget %}

{% block admingenerator_filter_item_widget %}
{% spaceless %}
    <tr id="{{ id }}" role="filter">
        <td class="col-sm-2">
            {{- field_label|trans({}, translation_domain) -}}
            {{- form_widget(form.field) -}}
        </td>
        <td class="col-sm-3">
            {{- form_widget(form.operator) -}}
        </td>
        <td>
            {{- form_widget(form.value) -}}
        </td>
        <td>
            <button type="button" class="close" data-dismiss="filter" role="filter-dismiss">
                <span aria-hidden="true">&times;</span><span class="sr-only">{{ 'filters.ctrl.remove'|trans }}</span>
            </button>
        </td>
    </tr>
{% endspaceless %}
{% endblock admingenerator_filter_item_widget %}
