{% block double_list_widget %}
{% spaceless %}
    <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/javascripts/double_list.js') }}"></script>
    <div class="double_list">
        <div style="float: left">
            {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:unselected_list.html.twig" %}
        </div>
        <div style="float: left; margin-top: 2em">
            {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:controls.html.twig" %}
        </div>
        <div style="float: left">
            {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:selected_list.html.twig" %}
        </div>
        <br style="clear: both" />
        {% include "AdmingeneratorGeneratorBundle:Form/DoubleList:javascript.html.twig" %}
    </div>
{% endspaceless %}
{% endblock %}

{% block datepicker_widget %}
{% spaceless %}
    <div class="datepicker-widget {% if prepend %}input-prepend {% endif %}input-append">
        {% if prepend %}<span class="add-on">{{ prepend|trans({}, 'Admingenerator') }}</span>{% endif %}
        <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
        <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
    {% include "AdmingeneratorGeneratorBundle:Form/DatePicker:javascript.html.twig" %}
{% endspaceless %}
{% endblock %}

{% block datepicker_range_widget %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    </div>
{% endspaceless %}
{% endblock %}

{% block single_upload_widget %}
{% spaceless %}
    <script type="text/javascript" src="{{ asset('bundles/admingeneratorgenerator/js/admingenerator/form/single-upload.js') }}"></script>
    <div id="{{ id ~ '_widget_container' }}" class="single-upload">
        <div class="btn-toolbar form-actions form-actions-condensed singleupload-buttonbar">
            <span class="btn btn-success fileinput">
                <i class="icon-plus icon-white"></i>
                <span>{{ 'upload.file.add'|trans({}, 'Admingenerator') }}</span>
                <input type="file" {{ block('widget_attributes') }} />
            </span>
            {% include "AdmingeneratorGeneratorBundle:Form/SingleUpload:controls.html.twig" %}
            {% include "AdmingeneratorGeneratorBundle:Form/SingleUpload:deleteable.html.twig" %}
        </div>
        <div id="{{ id ~ '_preview' }}" class="single-upload-preview">
            {% include "AdmingeneratorGeneratorBundle:Form/SingleUpload:nameable.html.twig" %}
            {% include "AdmingeneratorGeneratorBundle:Form/SingleUpload:preview.html.twig" %}
        </div>
        {% include "AdmingeneratorGeneratorBundle:Form/SingleUpload:javascript.html.twig" %}
    </div>
{% endspaceless %}
{% endblock single_upload_widget %}