{% use 'CommonAdmin/title.php.twig' %}
{% use 'CommonAdmin/list_thead.php.twig' %}
{% use 'CommonAdmin/list_tbody.php.twig' %}
{% use 'CommonAdmin/list_paginator.php.twig' %}

{{ echo_extends("AdmingeneratorGeneratorBundle::base_admin.html.twig") }}

{{ echo_block("body") }} 
    {{- block('title') -}}

    <table>
        {{- block('list_thead') -}}
        {{- block('list_tbody') -}}
    </table>
    
    {{- block('list_paginator') -}}
{{ echo_endblock() }}