<script id="{{ id ~ '_download_template' }}" type="text/x-tmpl">
{% raw %}
 {% for (var i=0, file; file=o.files[i]; i++) { %}
{% endraw %}
    <tr class="template-download fade">
        {% raw %}
        {% if (file.error) { %}
        {% endraw %}
            <td></td>
            <td class="name"><span>{% raw %}{%=file.name%}{% endraw %}</span></td>
            <td class="size"><span>{% raw %}{%=o.formatFileSize(file.size)%}{% endraw %}</span></td>
            <td class="error" colspan="2">
                <span class="label label-important">
                {{- 'upload.error'|trans({}, 'Admingenerator') -}}
                </span> {% raw %}{%=file.error%}{% endraw %}
            </td>
        {% raw %}
        {% } else { %}
        {% endraw %}
            <td class="preview">
                {% raw %}
                {% if (file.thumbnail_url) { %}
                {% endraw %}
                {% if thumbnailFilter %}
                    {% raw %}
                    <a href="{%=file.url%}"><img src="{%=file.thumbnail_url%}" /></a>
                    {% endraw %}
                {% else %}
                    {% raw %}
                    <a href="{%=file.url%}">
                    {% endraw %}
                        <img src="{% raw %}{%=file.thumbnail_url%}{% endraw %}"
                             width="{{ previewMaxWidth }}" height="{{ previewMaxHeight }}" />
                    </a>
                {% endif %}
                {% raw %}
                {% } %}
                {% endraw %}
            </td>
            <td class="form">
                {% if editable %}
                    {% for field in editable %}
                        {{ form_row(prototype[field],{'value': '{%=file.'~field~'%}'})|replace({'__name__': '{%=file.count%}'})|raw }}
                    {% endfor %}
                {% endif %}
            </td>
            <td class="size"><span>{% raw %}{%=o.formatFileSize(file.size)%}{% endraw %}</span></td>
            <td colspan="2"></td>
        {% raw %}
        {% } %}
        {% endraw %}
        <td class="delete">
            <div class="btn-toolbar">
                <a class="btn btn-info" target="_blank" {% raw %}href="{%=file.url%}"{% endraw %}>
                    <i class="icon-download icon-white"></i>
                    <span> {{ 'upload.download'|trans({}, 'Admingenerator') }}</span>
                </a>
                <button class="btn btn-danger">
                    <i class="icon-trash icon-white"></i>
                    <span> {{ 'upload.delete'|trans({}, 'Admingenerator') }}</span>
                </button>
                <span class="btn btn-toggle disabled input-append">
                    <input type="checkbox" name="delete" value="1">
                </span>
            </div>
        </td>
    </tr>
{% raw %}
{% } %}
{% endraw %}
</script>
